:root {

  --cinza-instagram: #DBDBDB;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: var(--white);
  display: flex;
}
.Conteudoheader{
  background: white;
}


.ConteudoEsquerdo {
  background: var(--white);
  border-right: 2px solid var(--cinza-instagram);
  height: 100vh; /* view height */
  width: 15vw;
  position: fixed;
  
}

.ConteudoCentral {
  margin-left: 250px;
  background: var(--white);
  height: 100vh;
  width: 70vw; /* view width */
  
}
.ConteudoDireito{
  display: flex;
  position: fixed;
}
p{
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.ItemPerfil{

  display: flex; 
  width: 76px;
  height: 76px;
  border-radius: 400px ;
  margin: auto;
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  margin-left: 80px;  
  margin-top: 45px;
}

.ItemPerfil2{

  display: flex; 
  width: 40px;
  height: 40px;
  border-radius: 400px ;
  margin: auto;
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  margin-left: 30px;
  margin-top: 55px;
}

.ItemPerfil3{
  display: flex; 
  width: 40px;
  height: 40px;
  border-radius: 400px ;
  margin: auto;
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  margin-left: 75px;
  margin-top: 55px;
}
.ItemPerfil4{

  display: flex; 
  width: 40px;
  height: 40px;
  border-radius: 400px ;
  margin: auto;
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  margin-left: 75px;
  margin-top: 55px;
}
.ItemPerfil5{

  display: flex; 
  width: 40px;
  height: 40px;
  border-radius: 400px ;
  margin: auto;
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
 margin-left: 75px;
  margin-top: 55px;
}

.ItemStories{ 
  text-align: center; /* Centraliza o conteúdo */
  display: flex; 
  width:76px;
  height: 75px;
  border-radius: 600px ;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  background-color:rgb(255, 255, 255) ;
  
 
}
.img{
  border-radius: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ItemStories2{
  
  display: flex; 
  width: 76px;
  height: 76px;
  border-radius: 400px ;
  margin: auto;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  margin-left: 5px;
  background-color: rgb(255, 255, 255);
  margin-top: 5px;
  
  
  
}


.ItemStories3{
  text-align: center; /* Centraliza o conteúdo */
  display: flex; 
  width:76px;
  height: 75px;
  border-radius: 600px ;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  background-color:rgb(255, 255, 255) ;
}
.ItemStories4{
  text-align: center; /* Centraliza o conteúdo */
  display: flex; 
  width:76px;
  height: 75px;
  border-radius: 600px ;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  background-color:rgb(255, 255, 255) ;
  
  
}
.Borda4{
  display: flex;
  height: 75px;
}
.Stories4{
  border-radius: 650px;
  margin-left: 1px;
  
}
.ItemStories5{
  
  text-align: center; /* Centraliza o conteúdo */
  display: flex; 
  width:76px;
  height: 75px;
  border-radius: 600px ;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  background-color:rgb(255, 255, 255) ;
}

.ItemStories6{
  
  text-align: center; /* Centraliza o conteúdo */
  display: flex; 
  width:76px;
  height: 75px;
  border-radius: 600px ;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  background-color:rgb(255, 255, 255) ;
}
.ItemStories7{
  
  
  text-align: center; /* Centraliza o conteúdo */
  display: flex; 
  width:76px;
  height: 75px;
  border-radius: 600px ;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  background-color:rgb(255, 255, 255) ;
  
}
.Stories8{
  
  display: flex; 
  width: 66px;
  height: 66px;
  border-radius: 400px ;
  padding: 5px;
  margin: auto;
  max-width: 100%; 
  max-height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;   
  overflow: hidden;
  
}

.img-logo {
  margin-top: 40px;
  max-width: 190px;
  margin-left: 20px;
  margin-bottom: 30px;
}


.wrapMenu ul{
  list-style: none;
  margin-left: 20px;

}
.menu{

  display: flex;
  gap: 20px;
  margin-left: 10px;
  padding: 20px;
  align-items: center;
}
.perfil{
  margin-top: 120px;
}

.header{
  justify-content:center ;
  align-items: center;
  background-color: white;
  display: flex;
  padding: 15px;
  gap:20px;
  margin-left: 50px;


}
.ConteudoCentral{
  align-items: center;

}
.Timeline{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  
}
.Post{
  color: rgb(0, 0, 0);
  padding: 10px;
  align-items: center;
  margin-right: 150px;
  margin-left: 150px;
  

}
.headerPost{
  background-color: rgb(255, 255, 255);
  padding: 10PX;
  display: flex;
  gap: 5px;
  align-items: center;
  
}
.imgusuario{
  height: 24px;
  width: 24px;
  border-radius: 400px;
  background: url(assets/minimessi.jpg);
  background-repeat: no-repeat;
  
}
.conteudo{
  background: url(assets/Messi.png  );
  width: 470px;
  height: 585px; 
  position: absolute;
  background-repeat: no-repeat;
}
.interacao{
  gap: 20px;
  display: flex;
  margin-top: 90px;

}




.salvar{
  display: flex;
  margin-left: 290px;
}
.comentarios{
  display: block;
  margin-top: 10px;
}



.headerPost1{
  background-color: rgb(255, 255, 255);
  padding: 10PX;
  display: flex;
  gap: 5px;
  align-items: center;
  
}
.imgusuario1{

  height: 24px;
  width: 24px;
  border-radius: 400px;
  background: url(assets/miniyuri.jpg );
  background-repeat: no-repeat;

  
  
}

.conteudo1{

  background: url(assets/yuri.png);
  width: 470px;
  height: 585px;  
  position: absolute;
  background-repeat: no-repeat;
  
}
.interacao1{
  gap: 20px;
  display: flex;
  margin-top: 90px;
}

.headerPost2{
  background-color: rgb(255, 255, 255);
  padding: 10PX;
  display: flex;
  gap: 5px;
  align-items: center;
  
}
.imgusuario2{

  height: 24px;
  width: 24px;
  border-radius: 400px;
  background: url(assets/dw.jpg );
  background-repeat: no-repeat;
  
  
}
.conteudo2{
  background: url(assets/gato2.png);
  width: 470px;
  height: 585px;  
  position: absolute;
  background-repeat: no-repeat;
  
} 
.interacao2{
  gap: 20px;
  display: flex;
  margin-top: 80px;
}
.headerPost3{
  background-color: rgb(255, 255, 255);
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  
  
}
.imgusuario3{

  height: 24px;
  width: 24px;
  border-radius: 400px;
  background: url(assets/mv.png);
  background-repeat: no-repeat;
  
  
}
.conteudo3{
  background: url(assets/marvels.png);
  width: 470px;
  height: 585px; 
  position: absolute;
  background-repeat: no-repeat;
  align-items: center;
  
  
} 
.interacao3{
  gap: 20px;
  display: flex;
  margin-top: 85px;
}

.headerPost4{
  background-color: rgb(255, 255, 255);
  padding: 10PX;
  display: flex;
  gap: 5px;
  align-items: center;
  
}
.imgusuario4{

  height: 24px;
  width: 24px;
  border-radius: 400px;
  background: url(assets/minilogo.png);
  
  
}
.conteudo4{
  background: url(assets/proa.png);
  width: 470px;
  height: 585px; 
  position: absolute;
  background-repeat: no-repeat;
  align-items: center;
  
} 
.interacao4{
  gap: 20px;
  display: flex;
  margin-top: 90px;
}


.header {
  margin-top: 10px;
   /* Adiciona um espaço entre a imagem e o nome */
}
.nome1,
.nome2{
  margin-left: 5px;
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.nome3{
  margin-left: 20px;
  margin-top: 20px;

}

.nome10{
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 10px;
}
.nome11{
  margin-left: 60px;
  margin-top: 10px;
}
.sugestão{
  margin-top: 10px;
  display: flex;
  color: lightslategrey;
}
.seguir{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  height: 1px;
  margin-bottom: 20px;
  color: blue;
  margin-right: 20px;
  align-items: center;
  margin-bottom: 80px;
}
.altura{
  height:50px;
  width: 50px;
  border-radius: 400px;
}
.nomeUsuario{
  color: black;
}
button{
  border: none;
  list-style: none;
  margin: 5px;
  background-color: white;
  text-decoration: none;
  display: flex;
  height: 70px; 
  width: 200px;
}
button:hover{
  cursor: pointer;
  border-radius: 200px;
  color: rgb(0, 0, 0);
  outline: 0;
  background-color: rgb(245, 250, 250);
}
.colorido1{
  background:linear-gradient(#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d );
  border-radius: 300px;
  height: 85px;
  width: 85px;
  
}
.colorido2{
  background:linear-gradient(#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d );
  border-radius: 300px;
  height: 85px;
  width: 85px;
  
}
.colorido3{
  background:linear-gradient(#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d );
  border-radius: 300px;
  height: 85px;
  width: 85px;
}
.colorido4{

  background:linear-gradient(#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d );
  border-radius: 300px;
  height: 85px;
  width: 85px;

}
.ItemStories,
.ItemStories2,
.ItemStories3,
.ItemStories4,
.ItemStories5,
.ItemStories6,
.ItemStories7:hover{
  cursor: pointer;

}

.fname{
  gap: 200px;
}